<div class="ridecol-top">
	<h2>{{rides[1].name}}</h2>
	<div>
		<span>{{rides[1].miles}} mi</span>
		<span>{{rides[1].time}} min</span>
		<span>{{rides[1].stops}} stops</span>
	</div>
	<div id="map"></div>
	<h4>description</h4>
	<p class="ride-info">Bike along the river between two great Detroit brewers.</p>
	<div ng-repeat="stop in rides[1].waypoints">
		<p class="ride-info">{{stop.name}}</p>
		<p class="ride-info">{{stop.hours}}</p>
		<p class="ride-info">{{stop.what}}</p>
	</div>

</div>

<a href="/rideinfo">More Rides</a>
