html, body, a, p, section, div, nav, img,
header, footer, h1, h2, h3, h4, h5, h6, ul, li, span
  margin 0
  padding 0
  -moz-box-sizing border-box
  box-sizing border-box
  // font-family arial

@font-face
	font-family 'GrandHotel'
	src url('../fonts/GrandHotel-Regular.otf')

html, body
  height 100%

//*=====Font======*//
p
  // font-family: 'Droid Serif', serif;
  font-family 'Lato', sans-serif
  font-size 16px
  color #838383
  font-weight 700

h1
  font-family "Oswald", cursive
  font-weight 700
  line-height 76px
  position absolute
  top 100px
  color white
  left 200px
  font-size 70px

h2
  font-family 'Oswald', sans-serif
  font-weight 700
  font-size 20px
  color #E1B596
  margin 10px 0 25px 0;
  text-align center
  text-transform uppercase

h3
  font-family 'Oswald', sans-serif
  font-weight 400
  font-size 22px
  color #E1B596
  margin 10px 0

h4
  font-family 'Raleway', sans-serif
  font-weight 900;
  font-size 16px
  color #2c2b2b
  margin 10px 0
  text-transform capitalize

h5
  font-family 'Lato', sans-serif
  font-size 16px
  font-weight 700
  color #000
  font-style italic
  .area
    // margin-left: 25px;
    text-align center

.miles, .time, .stops
  font-family 'Lato', sans-serif
  font-size 12px
  font-weight 400
  color #2c2b2b
  text-transform uppercase
  margin-left 25px

.login-list
  font-family 'Lato', sans-serif
  font-weight 700
  font-size 16px
  color #a52a2a;

.fa{
    margin-right: 10px !important;
  }
  
#directions{
  font-size:24px;
  margin-top: 25px;
  }
//*=====End Font======*//


//*====Main-titles====*//
a.main-title
  font-family "Oswald", cursive
  font-weight 700
  color #e1b596

h3#brand-message{
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight 700;
  color:#fff;
  font-style: italic;
  position: absolute;
  top: 170px;
  left: 250px;
}

/*====Home*=======*/
#section{
  padding-top: 40px;
}
#home{
  height 350px;
  width 400px;
  position relative;
  }
#home
  div
    ul
      li
        margin-left 1.5em

#image-box{
  position: absolute;
  width: 100%;
  top: 40px;
  padding-top:10px;
  background-image: url("../img/greenbikecrop.jpg");
  }

// Navbar CSS
.navbar
  z-index 10
  position fixed
  top 0
  width 100%
  height 48.4px
  margin 0
  border-radius 0
  padding 0
  background-color #75ad4c
  .big-nav
    display none
  ul
    position relative
    display inline-table
    width 100%
    margin -1px 0 0 -1px
    padding 0
    list-style none
    li
      float left
      a
        display block
        padding 9px 10px
        font-family "GrandHotel", "Oswald"
        font-size 2.3em
        line-height 1em
        color #fff
        text-decoration none
      ul
        display none
        position absolute
        top 99%
        left 1px
        width 100%
        background #528130
        li
          float none
          position relative
          font-family "Oswald"
        a
          text-align center
          padding 5px 10px
        a:hover
          background #629140
    li:hover
      background-color #629140
    li:hover > ul
      display block
    li:hover a
      color #fff
    .hamburger
      float right
      font-size 1.6em
      font-weight bold
      a
        padding 0 20px
      ul
        li
          font-size .5em
          font-weight normal
  ul:after
    content ""
    clear both
    display block

//*====== ABOUT START====*//
#about{
max-height:250px;
width: 360px;
padding-top: 60px;
text-align: center;
}
#about p{
  text-align:justify;
}

//*====== ABOUT END====*//

footer
  background-color #75ad4c
  color #FFF
  .container
    display inline-block
    font-size 14px
    // padding 5px
    text-align center
    color white

//*=====RIDE PAGE START =====*/

.my-route{
  width:250px !important;
  margin:15px 5px 15px 5px;
  padding:5px;
  display:inline-block;
  vertical-align:top;
}

ul#directions{
  margin-left: 25px;
}

#map
  height 250px
  width 100%


h3.ride-title a{
  text-decoration: none;
  color: brown;
  text-align: center;
  }
ul.login{
  margin-left: 25px;

}
ul.login li{
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  color:#838383;
  font-weight:400;
}
#rides{
  padding-top 60px;
}
#rides h3{
  text-align: center;
  }
#search{
  margin-top: 25px;
}
#search-form{
  text-align: center;
}
h5.ride-description{
    text-align:center;
    font-style:normal;
  }

//*=====RIDE PAGE END =====*/
//*=====CONTACT =====*/
#main-contact
      
#contact input, textarea{
margin: 0 0px 10px 10px;
padding: 5px;
font-family 'Lato', sans-serif

input, textarea{
background-color: #F6f6f6
margin: 10px
border 3px double #659D44
border-radius 3px
}

input[type=text],
input[type=email],{
  font-family: 'Lato', sans-serif;
  font-weight: 400;

}

#contact p
    font-size: 16px;

//*=====CONTACT END =====*/
//*======Home page CSS======*//
#home{
  height 350px;
  width 400px;
  position relative;
  }
#home
  div
    ul
      li
        margin-left 1.5em
.home-image
  position: absolute;
  width: 100%;
  top: 40px;
  padding-top:10px

//About CSS


// Members Only Pop-up

#members-only
  display none
  height 110px
  width 200px
  border-radius 15px
  padding 5px 5px 5px 10px
  text-align left
  font-size 14px
  font-weight bold
  color #E9CF92
  background-color #4F2512
  p
    margin 0
    padding 0
    font-size 14px
    font-weight bold
    color #E9CF92
  img
    display inline-block
    float right

//*=====RIDE 1 PAGE START =====*/
.ridecol-top
  
.ride-descrip{
   margin: 8px 0px;
  text-align: center;
  color: #a52a2a;
  font-size: 20px;
  font-style: italic;
}
.ride-specifics{
  display: inline-block;
  padding: 25px; 
}
.ride-info{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #838383;
  font-weight: 500; 

 }
.ride-info-name{
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #838383;
  font-weight: 700; 
/*  padding: 25px; 
  display: inline-block;*/
  font-weight: bold;
 }
.map-title{
  font-size: 25px;
  color: #a52a2a;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}
.map-info{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #a52a2a;
  font-weight: 700;
  text-align: center; 
  margin: 10px; 
 }

//*====MEDIA QUERIES=====*//

@media only screen and (min-width: 960px)
  #image-box{
  background-image: url("../img/greenbike1200.jpg");
  height: 100%;
  background-repeat:no-repeat;
  background-position-x: 50%;
  background-position-y: 85%;
  }
  #about {
    width: 100%;
  }
  #home {
    width: 100%;
    text-align:center;
    height:450px;
  }
  .my-route{
    width:250px !important;
    margin:5px;
    padding:5px;
    display:inline-block;
    vertical-align:top;
  }
  // .my-route{
  //   width:250px !important;
  //   margin:5px;
  //   padding:5px;
  //   display:inline-block;
  //   vertical-align:top;
  // }
  h5.area{
    text-align:center;
  }
  
  .miles, .time, .stops{
    margin-left: 60px;
  }
  #fb-row{
    margin-bottom:25px;
  }
  h2{
    font-size: 3em;
  }

  .navbar
    height 48.4px
    .big-nav
      display inline-block
      a
        height 50.4px
        font-family "Oswald"
        font-size 1.75em
        line-height 1.25em
    .big-nav:nth-child(2n)
      a
        font-style italic
    .big-nav:nth-child(3n)
      float right
    .big-nav:nth-child(4n)
      float right
      a
        font-style normal
    .big-nav:nth-child(5n)
      float right
    .hamburger
      display none
