html, body, a, p, section, div, nav, img,
header, footer, h1, h2, h3, h4, h5, h6, ul, li, span
  margin 0
  padding 0
  -moz-box-sizing border-box
  box-sizing border-box
  // font-family arial

html, body
  height 100%

//*=====Font======*//
p
  // font-family: 'Droid Serif', serif;
  font-family 'Lato', sans-serif
  font-size 16px
  color #838383
  font-weight 700

h1
  font-family "Oswald", cursive
  font-weight 700
  line-height 76px
  font-size 102px
  position absolute
  top 100px
  color white
  left 50px
  font-size 40px

h2
  font-family 'Oswald', sans-serif
  font-weight 700
  font-size 20px
  color #E1B596
  margin 10px 0
  text-align center
  text-transform uppercase

h3
  font-family 'Oswald', sans-serif
  font-weight 400
  font-size 22px
  color #E1B596
  margin 10px 0

h4
  font-family 'Raleway', sans-serif
  font-weight 700
  font-size 16px
  color #2c2b2b
  margin 10px 0
  text-transform capitalize

h5
  font-family 'Lato', sans-serif
  font-size 16px
  font-weight 700
  color #000
  font-style italic
  .area
    // margin-left: 25px;
    text-align center

.miles, .time, .stops
  font-family 'Lato', sans-serif
  font-size 12px
  font-weight 400
  color #2c2b2b
  text-transform uppercase
  margin-left 25px

.login-list
  font-family 'Oswald', sans-serif
  font-weight 700
  font-size 12px
  color #da594c
//*=====End Font======*//


//*====main-title====*//
a.main-title
  font-family "Oswald", cursive
  font-weight 700
  color #e1b596


/*====Home*=======*/

#home{
  height 350px;
  width 400px;
  position relative;
  }
#home
  div
    ul
      li
        margin-left 1.5em


.image-box{
  position: absolute;
  width: 100%;
  top: 40px;
  padding-top:10px;
  background-image: url("../img/greenbikecrop.jpg");
  }

// Navbar CSS
.navbar
  z-index 1
  position fixed
  top 0
  width 360px
  height 48.4px
  margin 0
  padding 0
  background-color blue
  ul
    position relative
    display inline-table
    width 360px
    margin -1px 0 0 -1px
    padding 0
    list-style none
    li
      float left
      a
        display block
        padding 15px 30px
        color #fff
        text-decoration none
      ul
        display none
        position absolute
        top 100%
        left 1px
        width 100%
        background #5f6975
        li
          float none
          position relative
        a
          text-align center
          padding 5px 10px
        a:hover
          background #4b545f
        ul
          position absolute
          left 100%
          top 0
    li:hover
      background-color #4b545f
    li:hover > ul
      display block
    li:hover a
      color #fff
    .hamburger
      float right
      font-size 2.4em
      font-weight bold
      a
        padding 0 20px 1px 20px
      ul
        li
          font-size 1em
          font-weight normal
  ul:after
    content ""
    clear both
    display block

//*====== ABOUT START====*//
#about{
max-height:250px;
width: 360px;
padding-top: 60px;
text-align: center;
}
#about p{
  text-align:justify;
}

//*====== ABOUT END====*//

//*=====RIDE PAGE START =====*/

ul#directions{
  margin-left: 25px;
}

#map
  height 200px
  width 100%


h3.ride-title a{
  text-decoration: none;
  color: brown;
  text-align: center;
  }
ul.login{
  margin-left: 25px;

}
ul.login li{
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  color:#838383;
  font-weight:400;
}
#rides{
  overflow: scroll;
  padding-top 20px;
}
#rides h3{
  text-align: center;
  }

// #u_0_0, .pluginLoginButton pluginLoginButtonXlarge{
//   position: relative important;
//   left: 15em important;
// }
// #u_0_0 > div:nth-child(1){
//   position: relative !important;
//   left: 15em !important;
// }
#search-form{
  text-align: center;
}
//*=====RIDE PAGE END =====*/
//*=====CONTACT =====*/
#main-contact{
text-align:center;
}

#contact input, textarea{
margin: 0 0px 10px 10px;
padding: 10px;
}
input, textarea{
background-color: #f6f6f6;
margin: 10px;
}

input[type=text],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=email],{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

#contact p{
  font-size: 16px;
}


//*=====CONTACT END =====*/

//*======Home page CSS======*//
#home{
  height 350px;
  width 400px;
  position relative;
  }
#home
  div
    ul
      li
        margin-left 1.5em


.home-image
  position: absolute;
  width: 100%;
  top: 40px;
  padding-top:10px


//About CSS


// Members Only Pop-up

#members-only
  display none
  height 110px
  width 200px
  border-radius 15px
  padding 5px 5px 5px 10px
  text-align left
  font-size 14px
  font-weight bold
  color #E9CF92
  background-color #4F2512
  p
    margin 0
    padding 0
    font-size 14px
    font-weight bold
    color #E9CF92
  img
    display inline-block
    float right


//*=====RIDE 1 PAGE START =====*/
.ridecol-top
  border solid black 1px

.ride-info p{
margin: 8px 0px;
}

//*====MEDIA QUERIES=====*//

@media only screen and (min-width: 400px) {
  .home-image {
    background-image: url("../img/green600.jpg");
  }
  #about {
    width: 100%;
  }
  #home {
    width: 100%;
  }
}

@media only screen and (min-width: 960px) {
  .home-image{
  background-image: url("../img/greenbike1200.jpg");
  }
}
